.*{
	padding-top: 0px;
	margin:0px;
}

.header{
	height: 60px;
	line-height: 60px;
}
.header.nav{
	list-style:none;
}
.header.nav::after{
	counter-reset: 
	clear:both;
	display:block;
}
.header.nav li{
	float:right;
	margin-right:20px；
	right:0px;
}
.header.nav li a{
	color:#333;
	font-weight: 700
	font-size: 13;
    /*float:right;*/
    	right:0px;

}